Repository ska-telescope/ska-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_deploy_image, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pogo, build_tango-starter, build_tango-community

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_deploy_image: any of: docker/deploy/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-dsconfig/**/*
  build_ska-python-buildenv: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*
  build_ska-python-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-itango/**/*
  build_tango-vscode: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-vscode/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-starter: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-starter/**/*
  build_tango-community: any of: docker/tango/tango-community/**/*, docker/tango/**/*

Build and release new ska-docker/deploy image
  docker/deploy/.release
  docker/deploy/Dockerfile
Due: build_deploy_image

[ST-289] add packages
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

[ST-305] tango-vnc
  docker/tango/tango-vnc/.release
  docker/tango/tango-vnc/Dockerfile
  docker/tango/tango-vnc/Makefile
Due: build_tango-community

story_AT1-433: Changes in hdbpp viewer's script.
  docker/tango/hdbpp_viewer/.release
  docker/tango/hdbpp_viewer/hdbpp_viewer_script
Due: build_tango-community

[ST-305] add tango-vnc
  .gitlab-ci.yml
  docker/tango/Makefile
Due: build_tango-community

fix
  docker/tango/Makefile
Due: build_tango-community

refactor tango-archiver
  docker/tango/mariadb_hdbpp/.release
  docker/tango/mariadb_hdbpp/resources/create_hdb++_mysql.sql
  docker/tango/tango-archiver/.release
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-archiver/Makefile
  docker/tango/tango-archiver/docker-compose.yml
  docker/tango/tango-archiver/resources/supervisord.conf
  docker/tango/tango-archiver/test/Makefile
  docker/tango/tango-archiver/test/SimpleTest.py
Due: build_tango-community

cleaning archiver images
  docker-compose/Makefile
  docker-compose/archiver.yml
  docker/tango/mariadb_hdbpp/resources/add_tables.sh
  docker/tango/mariadb_hdbpp/resources/initdb.sh
  docker/tango/tango-archiver/.release
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-archiver/Makefile
  docker/tango/tango-archiver/Pipfile
  docker/tango/tango-archiver/Pipfile.lock
  docker/tango/tango-archiver/README.md
  docker/tango/tango-archiver/data/attribute_fqdn.txt
  docker/tango/tango-archiver/docker-compose.yml
  docker/tango/tango-archiver/resources/add_tables.sh
  docker/tango/tango-archiver/resources/create_hdb++.sql
  docker/tango/tango-archiver/resources/initdb.sh
  docker/tango/tango-archiver/resources/my.cnf
  docker/tango/tango-archiver/resources/supervisord.conf
  docker/tango/tango-archiver/scripts/configure_hdbpp.py
  docker/tango/tango-archiver/scripts/hdbpp_viewer
  docker/tango/tango-archiver/test.sh
  docker/tango/tango-archiver/test/SimpleTest.py
Due: build_tango-community

Upgrade helm version to 3
  docker/deploy/Dockerfile
  docker/tango/tango-vscode/Dockerfile
Due: build_deploy_image, build_tango-vscode, build_tango-community

Update helm_dependencies target
  charts/Makefile
Due: none

Update invocations of helm
  charts/Makefile
Due: none

Bump minor versions
  docker/deploy/.release
  docker/tango/tango-vscode/.release
Due: build_deploy_image, build_tango-vscode, build_tango-community

Delete obsolete line
  docker/deploy/Dockerfile
Due: build_deploy_image

Upgrade chart-testing tool to Helm3 compatible version
  docker/deploy/Dockerfile
  docker/tango/tango-vscode/Dockerfile
Due: build_deploy_image, build_tango-vscode, build_tango-community

Upgrade helm version to 3
  charts/Makefile
  docker/deploy/.release
  docker/deploy/Dockerfile
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_deploy_image, build_tango-vscode, build_tango-community

Update Pogo to v9.6.28 in tango-java Docker image
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo, build_tango-community

Tick release for tango-java
  docker/tango/tango-java/.release
Due: build_tango-java, build_tango-pogo, build_tango-community

apt update && install goes together
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_tango-community

hdbpp-viewer service
  docker-compose/hdbpp_viewer.yml
  docker/tango/hdbpp_viewer/.release
Due: build_tango-community

add env variable
  docker/tango/hdbpp_viewer/hdbpp_viewer_script
Due: build_tango-community

fix xauth
  docker-compose/hdbpp_viewer.yml
  docker/tango/hdbpp_viewer/Dockerfile
  docker/tango/hdbpp_viewer/hdbpp_viewer_script
Due: build_tango-community

not needed
  docker/logs.txt
Due: none

workdir /app
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-runtime/Dockerfile
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

vscode new release
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

Update Darwin network tools that detect local network config
  docker-compose/Makefile
Due: none

Fixes ST-352
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-dsconfig/json2tango
Due: build_tango-dsconfig, build_tango-community

Update json2tango
  docker/tango/tango-dsconfig/json2tango
Due: build_tango-dsconfig, build_tango-community

Update tango-archiver makefile to be more robust with macos catalina.
  docker/tango/tango-archiver/Makefile
Due: build_tango-community

version updated to 1.2.6
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
Due: build_tango-dsconfig, build_tango-community

Reverted the python-dsconfig to 1.2.5 since it does not exist.
  docker/tango/tango-dsconfig/Dockerfile
Due: build_tango-dsconfig, build_tango-community

Changed the version to 1.2.5.1 to follow a 4 level versioning
  docker/tango/tango-dsconfig/.release
Due: build_tango-dsconfig, build_tango-community

frist commit
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pogo, build_tango-community

install wget
  docker/tango/tango-pogo/Dockerfile
Due: build_tango-pogo, build_tango-community

update PATH and update pip in tango-builder
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

fix
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_tango-community

restore python, fix tango builder
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

Pip upgrade buildenv
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-builder/Dockerfile
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
Due: build_tango-builder, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pogo, build_tango-community

Update Pogo to v9.6.31 in tango-pogo Docker image
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
Due: build_tango-pogo, build_tango-community
