Repository ska-telescope/ska-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_ska-python: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python/**/*
  build_tango-python: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-python/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-python/**/*, docker/tango/tango-itango/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-starter: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-starter/**/*

changed package build ordering
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

added missing libsodium-dev package
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

fixed bug with empty folders
  docker/tango/tango-builder/build-context/.gitkeep
  docker/tango/tango-cpp/build-context/.gitkeep
  docker/tango/tango-java/build-context/.gitkeep
Due: build_tango-builder, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

changed `apt-get` calls for consistency
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

changed shell variable name for consistency
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Setting arguments to lowercase.
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

added - uneeded - cleanup step for consistency
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Adding metadata to the image.
  docker/tango/tango-itango/Dockerfile
Due: build_tango-itango

refactored to container standards
  docker/tango/tango-db/.release
  docker/tango/tango-db/Dockerfile
Due: build_tango-db

refactored container standards & added libsodium
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
Due: build_tango-cpp, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-starter

Applying the containerization standards.
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

refactoring to container standards & add libsodium
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

Formatting the deps for readability.
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

reorganized file
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

changed description
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

refactored acording to container standards
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
Due: none

added labels
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-dependencies/Dockerfile
  docker/tango/tango-java/Dockerfile
Due: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

fixed warnings and remove uneeded files from image
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

fixed warnings
  docker/tango/tango-db/Dockerfile
Due: build_tango-db

fixed warnings, removed uneeded files, commented
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-java/Dockerfile
Due: build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

fixed warning
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

refactored to container standards
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
Due: none

refactored to container standards
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

updated version
  docker/tango/tango-builder/.release
  docker/tango/tango-builder/Dockerfile
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
Due: build_tango-builder, build_tango-db, build_tango-itango

Fixing pipeline.
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

fixed missing dependency
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

fixed mixing the build with runtime dependencies
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

changed base docker image
  docker/tango/tango-builder/.release
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

fixed repo
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

removed sudo reference
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

added needed dependencies and fix warning
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

attempt to fix pipeline
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

attempted CI pipeline fix
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

attempted to fix pipeline
  .gitlab-ci.yml
Due: none

fixed recurrent dependency of build environment
  .gitlab-ci.yml
Due: none

fixed syntax error
  .gitlab-ci.yml
Due: none

moved test folder to respective root
  docker/tango/ska-python-buildenv/test/Makefile
  docker/tango/ska-python-buildenv/test/SimpleTest.py
  docker/tango/tango-itango/test/Makefile
  docker/tango/tango-itango/test/script.exp
Due: build_tango-itango

mitigated tango-builder dependency on itself
  .gitlab-ci.yml
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder

added libsodium dependencies
  docker/tango/ska-python-buildenv/Dockerfile
Due: none
