Repository ska-telescope/ska-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_deploy_image, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pogo, build_tango-starter, build_tango-community

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_deploy_image: any of: docker/deploy/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-dsconfig/**/*
  build_ska-python-buildenv: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*
  build_ska-python-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-itango/**/*
  build_tango-vscode: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-vscode/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-starter: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-starter/**/*
  build_tango-community: any of: docker/tango/tango-community/**/*, docker/tango/**/*

removed pipfile
  docker/tango/tango-vscode/Dockerfile
  docker/tango/tango-vscode/Pipfile
  docker/tango/tango-vscode/Pipfile.lock
Due: build_tango-vscode, build_tango-community

Update Pogo to v9.6.31 in tango-pogo Docker image
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
Due: build_tango-pogo, build_tango-community

tango-vscode removed oet
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

upddate release for build in vscode server
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

changed place for placing extensions
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

add bash-autocompletion
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

add note about xhost setting required on Linux for GUIs
  docs/src/docker_compose.rst
  docs/src/interactions.rst
Due: none

fix
  docker/tango/tango-builder/.release
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_tango-community

Update PyTango from 9.3.1 to 9.3.2
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/requirements.txt
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-pytango/.release
  docker/tango/tango-vscode/.release
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

Pin deploy Dockerfile to ubuntu:18.04
  docker/deploy/.release
  docker/deploy/Dockerfile
Due: build_deploy_image

Update tango-cpp to TangoSourceDistribution 9.3.4-rc4
  README.md
  docker/tango/tango-admin/.release
  docker/tango/tango-archiver/.release
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-starter/.release
  docker/tango/tango-test/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-cpp, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-starter, build_tango-community

Pin deploy and tango-builder to ubuntu:20.04
  docker/deploy/.release
  docker/deploy/Dockerfile
  docker/tango/tango-builder/.release
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-community

Pin deploy Dockerfile to ubuntu:18.04
  README.md
  docker/deploy/.release
  docker/deploy/Dockerfile
  docker/tango/tango-builder/.release
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-community

Update PyTango from 9.3.1 to 9.3.2
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/requirements.txt
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-pytango/.release
  docker/tango/tango-vscode/.release
  docker/tango/tango-vscode/Dockerfile
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

Update tango-cpp to TangoSourceDistribution 9.3.4-rc4
  docker/tango/tango-admin/.release
  docker/tango/tango-archiver/.release
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-databaseds/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-libtango/.release
  docker/tango/tango-starter/.release
  docker/tango/tango-test/.release
Due: build_tango-cpp, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-starter, build_tango-community

Add docker hierarchy to readme
  README.md
Due: none

Pin deploy Dockerfile to ubuntu:18.04
  docker/deploy/Dockerfile
Due: build_deploy_image

Changed to `DEBIAN_FRONTEND="noninteractive"`
  docker/deploy/Dockerfile
  docker/tango/tango-builder/Dockerfile
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-vscode, build_tango-community

Install latest version of pip
  docker/deploy/Dockerfile
  docker/tango/tango-dsconfig/Dockerfile
Due: build_deploy_image, build_tango-dsconfig, build_tango-community

Use module invocation for pip
  docker/deploy/Dockerfile
  docker/tango/tango-builder/Dockerfile
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-itango/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-dsconfig, build_tango-itango, build_tango-community

Add system-wide pip.conf including nexus as index
  .gitlab-ci.yml
  docker/deploy/Dockerfile
  docker/deploy/pip.conf
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/pip.conf
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/ska-python-runtime/pip.conf
  docker/tango/tango-builder/Dockerfile
  docker/tango/tango-builder/pip.conf
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-dsconfig/pip.conf
Due: build_tango-builder, build_deploy_image, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

Fix build_tango-vnc dependencies
  .gitlab-ci.yml
Due: none

Update tango-cpp to TangoSourceDistribution 9.3.4-rc4
  docker/tango/tango-cpp/Dockerfile
Due: build_tango-cpp, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-starter, build_tango-community

Update PyTango from 9.3.1 to 9.3.2
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/requirements.txt
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-dsconfig/Dockerfile
Due: build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

Tick releases for cpptango, pytango and general updates
  docker/deploy/.release
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-runtime/.release
  docker/tango/tango-admin/.release
  docker/tango/tango-archiver/.release
  docker/tango/tango-builder/.release
  docker/tango/tango-cpp/.release
  docker/tango/tango-databaseds/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-libtango/.release
  docker/tango/tango-pytango/.release
  docker/tango/tango-starter/.release
  docker/tango/tango-test/.release
  docker/tango/tango-vscode/.release
Due: build_tango-builder, build_deploy_image, build_tango-cpp, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-starter, build_tango-community

Add system-wide pip.conf including nexus as index
  docker/deploy/Dockerfile
  docker/deploy/pip.conf
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/pip.conf
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/ska-python-runtime/pip.conf
  docker/tango/tango-builder/Dockerfile
  docker/tango/tango-builder/pip.conf
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-dsconfig/pip.conf
Due: build_tango-builder, build_deploy_image, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

Get hdbpp_viewer files from nexus
  docker/tango/hdbpp_viewer/.release
  docker/tango/hdbpp_viewer/Dockerfile
Due: build_tango-community

add http proxy build args (required for Low PSI)
  docker/make/Makefile.mk
Due: none

add PANIC (tango alarm system) images
  docker/tango/tango-panic-gui/Dockerfile
  docker/tango/tango-panic-gui/Makefile
  docker/tango/tango-panic/Dockerfile
  docker/tango/tango-panic/Makefile
Due: build_tango-community
