Repository ska-telescope/ska-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_ska-python: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python/**/*
  build_tango-python: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-python/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-python/**/*, docker/tango/tango-itango/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-starter: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-starter/**/*

removed libsodium dependencies
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-dependencies/Dockerfile
  docker/tango/tango-java/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

trigger rebuild in pipeline
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-builder/.release
  docker/tango/tango-builder/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-db/.release
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dependencies/Dockerfile
  docker/tango/tango-itango/.release
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-java/.release
  docker/tango/tango-java/Dockerfile
Due: build_tango-builder, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Add env vars for image tags - docker-compose
  docker-compose/.env
  docker-compose/astor.yml
  docker-compose/itango.yml
  docker-compose/jive.yml
  docker-compose/logviewer.yml
  docker-compose/pogo.yml
  docker-compose/rest.yml
  docker-compose/tango.yml
  docker-compose/tangotest.yml
  docker/tango/ska-python-buildenv/docker-compose.yml
  docker/tango/tango-itango/docker-compose.yml
Due: build_tango-itango

Add image tag ARGs for builds
  docker/make/Makefile.mk
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/Makefile
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/ska-python-runtime/Makefile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-itango/Makefile
  docker/tango/tango-java/Dockerfile
Due: build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

set defaults for TANGO_DB_TAG, TANGO_CPP_TAG, TANGO_JAVA_TAG
  docker/make/Makefile.mk
Due: none

ST-139 add k8s configuration
  k8s/Makefile
  k8s/README.md
  k8s/chart/Chart.yaml
  k8s/chart/templates/_helpers.tpl
  k8s/chart/templates/databaseds.yaml
  k8s/chart/templates/itango.yaml
  k8s/chart/templates/jive.yaml
  k8s/chart/templates/logviewer.yaml
  k8s/chart/templates/pogo-pv.yaml
  k8s/chart/templates/pogo.yaml
  k8s/chart/templates/tangodb-pv.yaml
  k8s/chart/templates/tangodb.yaml
  k8s/chart/templates/tangotest.yaml
  k8s/chart/values.yaml
Due: none

ST-139 add documentation k8s
  docs/src/conf.py
  docs/src/index.rst
  docs/src/k8s-readme.md
  docs/src/k8s.rst
  k8s/README.md
Due: none

change omniORB download URL to point to the SKA Nexus repository
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

ST-139 added test for helm chart
  k8s/Makefile
  k8s/README.md
  k8s/chart/.helmignore
  k8s/chart/templates/tests/databaseds-test.yaml
  k8s/chart/templates/tests/tangotest-test.yaml
  k8s/rbac-config.yaml
Due: none

ST-139 fix readme
  k8s/README.md
Due: none

ST-139 alignement with ST-144
  k8s/Makefile
  k8s/PrivateRules.mak
  k8s/README.md
  k8s/rbac-config.yaml
  k8s/ska-docker-k8s/.helmignore
  k8s/ska-docker-k8s/Chart.yaml
  k8s/ska-docker-k8s/secrets/.gitkeep
  k8s/ska-docker-k8s/templates/_helpers.tpl
  k8s/ska-docker-k8s/templates/databaseds.yaml
  k8s/ska-docker-k8s/templates/itango.yaml
  k8s/ska-docker-k8s/templates/jive.yaml
  k8s/ska-docker-k8s/templates/logviewer.yaml
  k8s/ska-docker-k8s/templates/pogo-pv.yaml
  k8s/ska-docker-k8s/templates/pogo.yaml
  k8s/ska-docker-k8s/templates/tangodb-pv.yaml
  k8s/ska-docker-k8s/templates/tangodb.yaml
  k8s/ska-docker-k8s/templates/tangotest.yaml
  k8s/ska-docker-k8s/templates/tests/databaseds-test.yaml
  k8s/ska-docker-k8s/templates/tests/tangotest-test.yaml
  k8s/ska-docker-k8s/values.yaml
Due: none

ST-139 alignement with ST-144
  .gitignore
  charts/Makefile
  charts/README.md
  charts/ska-docker/.helmignore
  charts/ska-docker/Chart.yaml
  charts/ska-docker/secrets/.gitkeep
  charts/ska-docker/templates/_helpers.tpl
  charts/ska-docker/templates/databaseds.yaml
  charts/ska-docker/templates/itango.yaml
  charts/ska-docker/templates/jive.yaml
  charts/ska-docker/templates/logviewer.yaml
  charts/ska-docker/templates/pogo-pv.yaml
  charts/ska-docker/templates/pogo.yaml
  charts/ska-docker/templates/tangodb-pv.yaml
  charts/ska-docker/templates/tangodb.yaml
  charts/ska-docker/templates/tangotest.yaml
  charts/ska-docker/templates/tests/databaseds-test.yaml
  charts/ska-docker/templates/tests/tangotest-test.yaml
  charts/ska-docker/values.yaml
  k8s/PrivateRules.mak
Due: none

ST-205: add docker image for dsconfig
  .gitlab-ci.yml
  charts/Makefile
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-dsconfig/Dockerfile
  docker/tango/tango-dsconfig/Makefile
Due: none

Update Dockerfiles to build with buster
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-dependencies/Dockerfile
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-rest/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

ST-221 fix tango-dsconfig
  docker/tango/tango-dsconfig/Dockerfile
Due: none

ST-221 fix tango-dsconfig, disable pipeline
  .gitlab-ci.yml
  docker/tango/tango-dsconfig/Dockerfile
Due: none

bumped to version 0.2.0
  docker/tango/tango-builder/.release
Due: build_tango-builder

ST-221 new minor release
  .gitlab-ci.yml
  docker/make/Makefile.mk
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-runtime/.release
  docker/tango/tango-cpp/.release
  docker/tango/tango-db/.release
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-java/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-rest/.release
  docker/tango/tango-starter/.release
Due: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

ST-221 add push version
  docker/make/Makefile.mk
Due: none

ST-221 pipeline changed
  .gitlab-ci.yml
  docker/tango/tango-builder/.release
  docker/tango/tango-db/.release
Due: build_tango-builder, build_tango-db

ST-221 start pipeline
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-runtime/.release
  docker/tango/tango-builder/.release
  docker/tango/tango-cpp/.release
  docker/tango/tango-db/.release
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-java/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-rest/.release
  docker/tango/tango-starter/.release
Due: build_tango-builder, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

ST-221 use shell runner
  .gitlab-ci.yml
Due: none

ST-221 restart all pipeline
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-runtime/.release
  docker/tango/tango-builder/.release
  docker/tango/tango-cpp/.release
  docker/tango/tango-db/.release
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-java/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-rest/.release
  docker/tango/tango-starter/.release
Due: build_tango-builder, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

ST-221 output for test
  .gitlab-ci.yml
Due: none

ST-221 test rest with docker-executor
  .gitlab-ci.yml
Due: none

ST-221 problem with rest test
  .gitlab-ci.yml
Due: none

fix rest test
  docker/tango/tango-rest/Makefile
Due: build_tango-rest

ST-226 fix on docker file
  docker/tango/tango-db/Dockerfile
Due: build_tango-db

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

move to tango 9.3.3
  .gitlab-ci.yml
  docker/tango/ska-python-buildenv/Pipfile
  docker/tango/ska-python-runtime/Pipfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-dependencies/Dockerfile
  docker/tango/tango-java/Dockerfile
Due: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

tar in nexus
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-db/Dockerfile
  docker/tango/tango-java/Dockerfile
Due: build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

fix
  .gitlab-ci.yml
Due: none

itango build
  docker/tango/tango-itango/Dockerfile
Due: build_tango-itango

tango rest manual test
  .gitlab-ci.yml
Due: none

install distutils
  .gitlab-ci.yml
Due: none

ST-260 tango 9.3.3 add distutils
  .gitlab-ci.yml
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-runtime/Dockerfile
Due: none

ST-260 version 0.2.1 for push
  .gitlab-ci.yml
  docker/make/Makefile.mk
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/test.sh
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/tango-cpp/.release
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dsconfig/.release
  docker/tango/tango-itango/.release
  docker/tango/tango-java/.release
  docker/tango/tango-pogo/.release
  docker/tango/tango-starter/.release
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

ST-260 change to folder ska-docker
  .gitlab-ci.yml
  docker-compose/rest.yml
  docker/tango/tango-rest/docker-compose.yml
Due: build_tango-rest

st-260 tango-rest
  .gitlab-ci.yml
Due: none
