Repository ska-telescope/ska-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_ska-python: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python/**/*
  build_tango-python: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-python/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-python/**/*, docker/tango/tango-itango/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-starter: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-starter/**/*

.
  .gitlab-ci.yml
Due: none

use token
  .gitlab-ci.yml
Due: none

add documentation on how to login to the registry
  .gitlab-ci.yml
Due: none

add retry:2
  .gitlab-ci.yml
Due: none

Remove build definitions from docker-compose definitions
  docker-compose/astor.yml
  docker-compose/itango.yml
  docker-compose/jive.yml
  docker-compose/logviewer.yml
  docker-compose/pogo.yml
  docker-compose/rest.yml
  docker-compose/tango.yml
  docker-compose/tangotest.yml
Due: none

Use ska-python base image for ipython rather than deprecated tango-python images
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-itango/Pipfile
  docker/tango/tango-itango/Pipfile.lock
  docker/tango/tango-itango/test/script.exp
Due: build_tango-itango

Source itango from the virtual environment in the new 'ska-python'-derived image
  docker-compose/itango.yml
Due: none

force pull of latest image for itango tests
  .gitlab-ci.yml
  docker/tango/tango-itango/Makefile
Due: build_tango-itango

Optimise image size and compile time by using intermediate images. Use apt cache if detected on host machine.
  .gitlab-ci.yml
  docker/tango/Makefile
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
  docker/tango/ska-python-buildenv/Makefile
  docker/tango/ska-python-buildenv/Pipfile
  docker/tango/ska-python-buildenv/Pipfile.lock
  docker/tango/ska-python-buildenv/docker-compose.yml
  docker/tango/ska-python-buildenv/test/Makefile
  docker/tango/ska-python-buildenv/test/SimpleTest.py
  docker/tango/ska-python-runtime/.release
  docker/tango/ska-python-runtime/Dockerfile
  docker/tango/ska-python-runtime/Makefile
  docker/tango/ska-python-runtime/Pipfile
  docker/tango/ska-python-runtime/Pipfile.lock
  docker/tango/ska-python-runtime/docker-compose.yml
  docker/tango/ska-python-runtime/test/Makefile
  docker/tango/ska-python-runtime/test/SimpleTest.py
  docker/tango/ska-python/.release
  docker/tango/ska-python/Dockerfile
  docker/tango/tango-cpp/Dockerfile
  docker/tango/tango-dependencies/Dockerfile
  docker/tango/tango-itango/Dockerfile
  docker/tango/tango-itango/Pipfile
  docker/tango/tango-java/Dockerfile
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-python/.release
  docker/tango/tango-python/Dockerfile
  docker/tango/tango-python/test/requirements.txt
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-rest/tango_register_device.sh
  docker/tango/tango-starter/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Fix error in CI config
  .gitlab-ci.yml
Due: none

Delete old tango-python test
  .gitlab-ci.yml
Due: none

Change test target from python runtime to python build environment
  .gitlab-ci.yml
  docker/tango/ska-python-runtime/Makefile
  docker/tango/ska-python-runtime/docker-compose.yml
  docker/tango/ska-python-runtime/test/Makefile
  docker/tango/ska-python-runtime/test/SimpleTest.py
Due: none

Update Pipfile.lock for itango project
  docker/tango/tango-itango/Makefile
  docker/tango/tango-itango/Pipfile.lock
Due: build_tango-itango

Add piplock makefile targets to python projects
  docker/tango/ska-python-buildenv/Makefile
  docker/tango/ska-python-runtime/Makefile
Due: none

Do not require an image rebuild to export Pipfile.lock
  docker/tango/ska-python-buildenv/Makefile
  docker/tango/ska-python-runtime/Makefile
Due: none

ST-81 upload to docker registry ska-registry.av.it.pt
  .gitlab-ci.yml
  docker-compose/.env
  docker/make/Makefile.mk
Due: none

ST-81 upload to docker registry ska-registry.av.it.pt try2
  .gitlab-ci.yml
  docker/make/Makefile.mk
Due: none

ST-81 upload to docker registry ska-registry.av.it.pt fix typo on .env
  docker-compose/.env
Due: none

ST-96 add documentation badge
  README.md
Due: none

Run in --net=host mode on Linux so that services appear locally and not on a container network
  docker-compose/Makefile
  docker-compose/astor.yml
  docker-compose/itango.yml
  docker-compose/jive.yml
  docker-compose/logviewer.yml
  docker-compose/pogo.yml
  docker-compose/rest.yml
  docker-compose/tango.yml
  docker-compose/tangotest.yml
  docs/src/docker_compose.rst
Due: none

Extract NETWORK_MODE as a configurable parameter Add prototype 'attach' make target
  docker-compose/Makefile
  docker-compose/astor.yml
  docker-compose/itango.yml
  docker-compose/jive.yml
  docker-compose/logviewer.yml
  docker-compose/pogo.yml
  docker-compose/rest.yml
  docker-compose/tango.yml
  docker-compose/tangotest.yml
Due: none

ST-123: fix licenses in ska-docker
  LICENSE
  docker/make/.make-release-support
  docker/make/Makefile.mk
Due: none

ST-123 explicitly add copyright reference and apache 2 license
  APACHE2-LICENSE
  COPYRIGHT
  LICENSE
Due: none

Do not match inet6 addresses on MacOS
  docker-compose/Makefile
Due: none

new registry
  .gitlab-ci.yml
  docker-compose/.env
  docker/make/Makefile.mk
Due: none

upload docker images with the respective versions
  .gitlab-ci.yml
  docker/make/Makefile.mk
Due: none

update nexus-release
  .gitlab-ci.yml
  docker/make/Makefile.mk
Due: none

comment the 'only' restriction
  .gitlab-ci.yml
  docker/make/Makefile.mk
Due: none

Installing Firefox in the java image.
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

Adding metadata to the image.
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

Removing the tango-pogo subdirectory. The pogo and java docker files have been merged to create one image, the tango-java image.
  docker/tango/tango-pogo/.release
  docker/tango/tango-pogo/Dockerfile
  docker/tango/tango-pogo/Makefile
Due: build_tango-pogo

Removing the build_tango-pogo job.
  .gitlab-ci.yml
Due: none

Removing references to the tango-pogo directory.
  docker/tango/Makefile
Due: none

Discarding the tango-rest files.
  .gitlab-ci.yml
  docker/tango/Makefile
  docker/tango/tango-rest/.release
  docker/tango/tango-rest/Dockerfile
  docker/tango/tango-rest/Makefile
  docker/tango/tango-rest/docker-compose.yml
  docker/tango/tango-rest/supervisord.conf
  docker/tango/tango-rest/tango_register_device.sh
  docker/tango/tango-rest/test/Makefile
Due: build_tango-rest

Updating the docs. This is to remove references to tango-rest.
  docs/src/docker_images.rst
Due: none

Discarding the tango-starter files. This removes the directories and CI pipeline jobs related to the tango-starter docker image. I also updated the documentation.
  .gitlab-ci.yml
  docker/tango/Makefile
  docker/tango/tango-starter/.release
  docker/tango/tango-starter/Dockerfile
  docker/tango/tango-starter/Makefile
  docker/tango/tango-starter/supervisord.conf
  docker/tango/tango-starter/tango_register_device.sh
  docs/src/docker_images.rst
Due: build_tango-starter

builds images with souces only in build-context
  docker/make/Makefile.mk
  docker/tango/ska-python-buildenv/build-context/Pipfile
  docker/tango/ska-python-buildenv/build-context/Pipfile.lock
  docker/tango/ska-python-buildenv/build-context/test/Makefile
  docker/tango/ska-python-buildenv/build-context/test/SimpleTest.py
  docker/tango/ska-python-runtime/build-context/Pipfile
  docker/tango/ska-python-runtime/build-context/Pipfile.lock
  docker/tango/tango-db/build-context/sql_mode.cnf
  docker/tango/tango-dependencies/build-context/retry.sh
  docker/tango/tango-dependencies/build-context/wait-for-it.sh
  docker/tango/tango-itango/build-context/Pipfile
  docker/tango/tango-itango/build-context/Pipfile.lock
  docker/tango/tango-itango/build-context/test/Makefile
  docker/tango/tango-itango/build-context/test/script.exp
Due: build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

Setting the primary command in the ENTRYPOINT instead of CMD.
  docker/tango/tango-java/Dockerfile
Due: build_tango-java, build_tango-pogo

refactored acording to container standards
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter

added libsodium for increased networking security
  docker/tango/tango-dependencies/.release
  docker/tango/tango-dependencies/Dockerfile
Due: build_dependencies, build_tango-cpp, build_tango-java, build_ska-python, build_tango-python, build_tango-rest, build_tango-itango, build_tango-pogo, build_tango-starter
