Repository ska-telescope/ska-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_tango-builder, build_deploy_image, build_dependencies, build_tango-db, build_tango-cpp, build_tango-java, build_tango-rest, build_tango-dsconfig, build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-pogo, build_tango-starter, build_tango-community

Path conditions:
  build_tango-builder: any of: docker/tango/tango-builder/**/*
  build_deploy_image: any of: docker/deploy/**/*
  build_dependencies: any of: docker/tango/tango-dependencies/**/*
  build_tango-db: any of: docker/tango/tango-db/**/*
  build_tango-cpp: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*
  build_tango-java: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*
  build_tango-rest: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-rest/**/*
  build_tango-dsconfig: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-dsconfig/**/*
  build_ska-python-buildenv: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*
  build_ska-python-runtime: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*
  build_tango-itango: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-itango/**/*
  build_tango-vscode: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/ska-python-buildenv/**/*, docker/tango/ska-python-runtime/**/*, docker/tango/tango-vscode/**/*
  build_tango-pogo: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-java/**/*, docker/tango/tango-pogo/**/*
  build_tango-starter: any of: docker/tango/tango-dependencies/**/*, docker/tango/tango-cpp/**/*, docker/tango/tango-starter/**/*
  build_tango-community: any of: docker/tango/tango-community/**/*, docker/tango/**/*

Use pip3 instead of pip
  docker/deploy/Dockerfile
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-community

Invoke `pip` instead of `pip3`
  docker/deploy/Dockerfile
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-community

Bump release versions (minor)
  docker/deploy/.release
  docker/tango/tango-archiver/.release
  docker/tango/tango-builder/.release
Due: build_tango-builder, build_deploy_image, build_tango-community

story_AT1-365: Changes in gitlab-ci.yml.
  .gitlab-ci.yml
Due: none

Missed usage of $PIP_VERSION
  docker/tango/tango-archiver/Dockerfile
Due: build_tango-community

story_AT1-365: Added devices.json file in archiver.
  docker/tango/tango-archiver/data/archiver-devices.json
Due: build_tango-community

Install pip via get-pip.py
  docker/deploy/.release
  docker/deploy/Dockerfile
  docker/tango/tango-archiver/.release
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-builder/.release
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-community

Do not install pip into --user context
  docker/deploy/Dockerfile
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-community

Fix: do not install pip into --user context
  docker/deploy/Dockerfile
  docker/tango/tango-archiver/Dockerfile
  docker/tango/tango-builder/Dockerfile
Due: build_tango-builder, build_deploy_image, build_tango-community

story_AT1-365: Add hdbpp viewer scripts.
  docker/tango/tango-archiver/scripts/configure_hdbpp.py
  docker/tango/tango-archiver/scripts/hdbpp_viewer
  docker/tango/tango-archiver/test/SimpleTest.py
Due: build_tango-community

story_AT1-365: Changes in gitlab-ci.yml file.
  .gitlab-ci.yml
Due: none

story_AT1-365: Changes in dockerfile.
  .gitlab-ci.yml
  docker/deploy/Dockerfile
  docker/tango/tango-archiver/Dockerfile
Due: build_deploy_image, build_tango-community

story_AT1-365: Changes in docker file.
  docker/deploy/Dockerfile
  docker/tango/tango-archiver/Dockerfile
Due: build_deploy_image, build_tango-community

ST-289 vscode ssh
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

story_AT1-365: Changes in archiver.yml file.
  docker-compose/archiver.yml
Due: none

story_AT1-365: Change Makefile.
  docker/tango/tango-archiver/Makefile
Due: build_tango-community

story_AT1-365: Changes in docker file.
  .gitlab-ci.yml
  docker/tango/tango-archiver/Dockerfile
Due: build_tango-community

story_AT1-365:
  docker/tango/tango-archiver/Dockerfile
Due: build_tango-community

story_AT1-365:
  docker/tango/tango-archiver/data/attribute_fqdn.txt
Due: build_tango-community

story_AT1-365:
  .gitlab-ci.yml
Due: none

story_AT1-365:
  docker-compose/archiver.yml
  docker/tango/tango-archiver/data/archiver-devices.json
  docker/tango/tango-archiver/docker-compose.yml
Due: build_tango-community

story_AT1-365:
  docker/tango/tango-archiver/docker-compose.yml
Due: build_tango-community

story_AT1-365:
  docker-compose/archiver.yml
  docker/tango/tango-archiver/docker-compose.yml
Due: build_tango-community

story_AT1-365: Changes in docker compose.
  docker-compose/archiver.yml
  docker/tango/tango-archiver/data/archiver-devices.json
  docker/tango/tango-archiver/docker-compose.yml
Due: build_tango-community

story_AT1-365:
  docker/tango/tango-archiver/scripts/configure_hdbpp.py
Due: build_tango-community

story_AT1-365:
  .gitlab-ci.yml
  docker/tango/tango-archiver/attribute_fqdn.txt
  docker/tango/tango-archiver/configure_hdbpp.py
  docker/tango/tango-archiver/test/SimpleTest.py
Due: build_tango-community

story_AT1-365:
  docker-compose/archiver.yml
  docker/tango/tango-archiver/docker-compose.yml
  docker/tango/tango-archiver/resources/my.cnf
Due: build_tango-community

story_AT1-365:
  docker/tango/mariadb_hdbpp/docker-compose.yml
  docker/tango/tango-archiver/Makefile
Due: build_tango-community

fix
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

story_AT1-365: Changes in docker compose.
  .idea/.gitignore
  docker-compose/archiver.yml
Due: none

story_AT1-365: Resolve comments on merge request.
  docker-compose/archiver.yml
Due: none

Install git in ska-python-buildenv
  docker/tango/ska-python-buildenv/.release
  docker/tango/ska-python-buildenv/Dockerfile
Due: build_ska-python-buildenv, build_ska-python-runtime, build_tango-itango, build_tango-vscode, build_tango-community

story_AT1-422:Add readme files for mariadb, hdbpp-viewer and tango-archiver.
  docker/tango/hdbpp_viewer/README.md
  docker/tango/mariadb_hdbpp/README.md
  docker/tango/tango-archiver/README.md
Due: build_tango-community

story_AT1-422:Add readme files for mariadb, hdbpp-viewer and tango-archiver.
  docker/tango/hdbpp_viewer/README.md
Due: build_tango-community

story_AT1-422: Add readme file for archiver implementation.
  README.md
  docker/tango/mariadb_hdbpp/README.md
  docker/tango/tango-archiver/README.md
Due: build_tango-community

story_AT1-422:Update README file.
  README.md
Due: none

story_AT1-422: Resolved review comments.
  docker/tango/hdbpp_viewer/README.md
  docker/tango/mariadb_hdbpp/README.md
  docker/tango/tango-archiver/README.md
Due: build_tango-community

story_AT1-422: Resolved review comments.
  README.md
Due: none

[ST-289] add packages
  docker/tango/tango-vscode/Dockerfile
Due: build_tango-vscode, build_tango-community

[st-289] increment version
  docker/tango/tango-vscode/.release
Due: build_tango-vscode, build_tango-community
